.container {
  display: flex;

  .slide_content {
    width: 50vw;
    padding: 13rem 0 0 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .desc{
      padding-right: 5rem;
    }
    h1 {
      font-size: 40px;
      color: #000000;
      line-height: 1.5;
      font-weight: 700;
    }
    .recommend {
      display: flex;
      gap: 5rem;
      margin: 4rem 0;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        .recomend_img {
          width: 8rem;
          height: 8rem;
          border-radius: 4rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .slide_bg {
    height: 100vh;
    width: 50vw;
  }
}
