.container {
  display: flex;

  .slide_content {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .detail {
      padding: 0 8rem;
    }
    .desc {
      padding-right: 5rem;
      height: 7.2rem;
    }
    h1 {
      font-size: 4.5rem;
      color: #000000;
      line-height: 1.5;
      font-weight: 700;
    }
    .recommend {
      display: flex;
      gap: 5rem;
      margin: 4rem 0;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        .recomend_img {
          width: 8rem;
          height: 8rem;
          border-radius: 4rem;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .slide_bg {
    height: 100vh;
    width: 50vw;
  }
}
