// @import "swiper/css";
.swiper {
  width: 52rem;
  height: 34rem;
  margin: 2rem 0;
  .swiper-wrapper {
    // .swiper-slide-active {
    //   width: 52rem !important;
    // }
    .swiper-slide {
      width: 300rem !important;
      color: white;
    }
  }
  .swiper-pagination {
    display: flex;
    position: relative;
    bottom: 60px;
    width: 15rem;
    left: 95rem;
    z-index: 100;

    .swiper-pagination-bullet {
      background-color: white;
      border-radius: 2px;
      height: 4px;
      width: 1.3rem;
      cursor: pointer;
    }
    .swiper-pagination-bullet-active {
      width: 2rem;
    }
  }
  .navigation {
    margin: 0 1rem;
    display: flex;
    position: relative;
    bottom: 23px;
    width: 5rem;
    left: 120rem;
    z-index: 100;
    gap: 1rem;
  }
}
// // ====================================
// // ============ Media Queries =========
// // ====================================
// // ==== Targeting Mobile ==> Desktop ==

// @media screen and (min-width: 475px) {
//   .swiper {
//     width: 62rem;
//     height: 40rem;

//     .swiper-wrapper {
//       .swiper-slide-active {
//         width: 62rem !important;
//       }
//       .swiper-slide {
//         width: 62rem !important;
//       }
//     }
//   }
// }

// @media screen and (min-width: 640px) {
//   .swiper {
//     width: 82rem;
//     height: 46rem;
//     .swiper-wrapper {
//       .swiper-slide-active {
//         width: 82rem !important;
//       }
//       .swiper-slide {
//         width: 82rem !important;
//       }
//     }
//   }
// }

// @media screen and (min-width: 768px) {
//   .swiper {
//     width: 90rem;
//     height: 47rem;

//     .swiper-wrapper {
//       .swiper-slide-active {
//         width: 90rem !important;
//       }
//       .swiper-slide {
//         width: 90rem !important;
//       }
//     }
//   }
// }
// @media screen and (min-width: 900px) {
//   .swiper {
//     width: 110rem;
//     height: 50rem;

//     .swiper-wrapper {
//       .swiper-slide-active {
//         width: 110rem !important;
//       }
//       .swiper-slide {
//         width: 110rem !important;
//       }
//     }
//     .swiper-pagination {
//       display: flex;
//       left: 80rem;
//     }
//     .navigation {
//       display: flex;
//       left: 95rem;
//     }
//   }
// }
// @media screen and (min-width: 1024px) {
//   .swiper {
//     width: 90rem;
//     height: 50rem;
//     margin: 5rem 3rem;
//     .swiper-wrapper {
//       .swiper-slide-active {
//         width: 90rem !important;
//       }
//       .swiper-slide {
//         width: 90rem !important;
//       }
//     }
//     .swiper-pagination {
//       left: 67rem;
//     }
//     .navigation {
//       left: 80rem;
//     }
//   }
// }

// @media screen and (min-width: 1280px) {
//   .swiper {
//     width: 95rem;
//     height: 50rem;

//     .swiper-wrapper {
//       .swiper-slide-active {
//         width: 95rem !important;
//       }
//       .swiper-slide {
//         width: 95rem !important;
//       }
//     }
//     .swiper-pagination {
//       left: 70rem;
//     }
//     .navigation {
//       left: 82rem;
//     }
//   }
// }

@media screen and (min-width: 1536px) {
  .swiper {
    width: 130rem !important;
    height: 35rem !important;
    margin: 2rem 0 5rem 0;

    :global(.swiper-wrapper) {
      // background-color: yellow;

      // .swiper-slide-active {
      //   width: 123rem !important;
      // }
      :global(.swiper-slide) {
        height: 35rem !important;
      }
    }
    :global(.swiper-pagination) {
      text-align: end !important;
      padding-right: 12rem;

      :global(.swiper-pagination-bullet) {
        background-color: white;
        border-radius: 2px;
        height: 4px;
        width: 1.3rem;
        cursor: pointer;
      }
      :global(.swiper-pagination-bullet-active) {
        width: 2rem;
      }
    }
  }
  .navigation {
    left: 110rem;
  }
}
