@mixin display_flex($width){
    display: flex;
    flex-direction: column;
    width: $width;
}

.container{
    @include display_flex(100%);
    height: 55rem;
    color: #ffffff;
    background-color: #02060C;
    justify-content: space-evenly;
    
    .section{
            flex-wrap: wrap;
        // In this section we've 4 divs. each has it's own functionality.... 
        display: flex;
        justify-content: space-evenly;
        .common{  // Common Css for all 4 divs... 
            @include display_flex(30rem);
            padding-left: 4rem ;
            
            h2{
                margin: 1.5rem 0 1.5rem 0;
                font-size: 2.2rem;
            }
        }

        .app_info{
            span{
                margin-bottom: 2rem;
                a{

                    display: flex;
                    align-items: center;
                    gap: 1rem;
                }
            }
            .social{
                display: flex;
                margin-top: 3rem;
                gap: 1.5rem;
                svg{
                    font-size: 2.5rem;
                }
            }
        }
        .day_time{
            span{
                display: flex;
                padding: .6rem 0 ;
                p{
                    width: 12rem;
                }
            }
        }
        // .news_letter{

        // }
        .company_info{
            .common_links{
                display: flex;
                flex-direction: column;
                a{
                    padding: .7rem 0;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
       
    }
    .copy_right{
        p{
            text-align: center;
        }
    }
}